.header {
  background-color: #AA8A58;
  padding-top: 10px;
  padding-bottom: 2px;
}
.header span, .headerColor {
  color: #ead3bd;
}
.logo {
  width: 75%;
}
.menu-item {
  padding-left: 3px;
  color: black;
}

.menu-item::after{
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  margin-bottom: 3px;
  margin-left: 5px;
  background-color: #69b6d5;
}

.menu-item:last-child::after{
  display: none;
}


@font-face {
  font-family: 'gotham';
  src: url('./assets/fonts/GothamBold.ttf');
}

.check-button {
  border: 1px solid gray;
}
.welcome-text {
  text-align: center;
}


.phone:link, .phone:visited, .phone:hover, .phone:active {
  color: white;
}


@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 2em;
  }
}


@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }
  .welome-header::after, .usp-header::after{
    content: '';
    display: none;
  }
  .welome-header::before, .usp-header::before{
    content: '';
    display: none;
  }
}