.header {
  background-color: #AA8A58;
  padding-top: 10px;
  padding-bottom: 2px;
}
.header span, .headerColor {
  color: #ead3bd;
}
.logo {
  width: 75%;
}
.menu-item {
  padding-left: 3px;
  color: black;
}

.menu-item::after{
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  margin-bottom: 3px;
  margin-left: 5px;
  background-color: #69b6d5;
}

.menu-item:last-child::after{
  display: none;
}


@font-face {
  font-family: 'gotham';
  src: url('./assets/fonts/GothamBold.ttf');
}

.check-button {
  border: 1px solid gray;
}
.welcome-text {
  text-align: center;
}


.phone:link, .phone:visited, .phone:hover, .phone:active {
  color: white;
}


@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 2em;
  }
}


@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }
  .welome-header::after, .usp-header::after{
    content: '';
    display: none;
  }
  .welome-header::before, .usp-header::before{
    content: '';
    display: none;
  }
}






.profile-card {
  margin: 16px 16px;
  display: inline-block;
  height: auto;
  border-radius: 4px;
  background: #eee;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.profile-card .profile-image {
  width: 130px;
  height: 110px;
  box-sizing: border-box;
  padding: 4px;
  position: relative;
  top: -40px;
  background: #eee;
  border-radius: 100%;
  box-shadow: 0 -2px 6px -3px rgba(0,0,0,0.1);
  cursor: pointer;
  display: block;
  margin: auto;
}
.profile-card .profile-image-none {
  color: #8cbab7;
  text-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 160px;
  position: relative;
  top: -40px;
  left: 44px;
  background: #eee;
  border-radius: 100%;
  box-shadow: 0 -2px 6px -3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.profile-card .profile-name {
  box-sizing: border-box;
  padding: 0 16px;
  text-align: center;
  color: #2b3f60;
  text-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  top: -64px;
}
.profile-card .profile-description {
  box-sizing: border-box;
  font-size: 0.5em;
  padding: 0 24px;
  color: #748aa4;
  text-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  top: -72px;
  margin-bottom: -48px;
}
